      body {
      	background-color: #F3EBF6;
      	font-family: 'Ubuntu', sans-serif;
      	background-image: url('/img/background.jpg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 100%;
    }

    .main {
     background-color: #FFFFFF;
     width: 400px;
     height: 400px;
     margin: 7em auto;
     border-radius: 1.5em;
     box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
     padding-top: 40px;
     color: #8C55AA;
     font-family: 'Ubuntu', sans-serif;
     font-weight: bold;
     font-size: 23px;
}

.un {
     width: 76%;
     color: rgb(38, 50, 56);
     font-weight: 700;
     font-size: 14px;
     letter-spacing: 1px;
     background: rgba(136, 126, 126, 0.04);
     padding: 10px 20px;
     border: none;
     border-radius: 20px;
     outline: none;
     box-sizing: border-box;
     border: 2px solid rgba(0, 0, 0, 0.02);
     margin-bottom: 50px;
     margin-left: 46px;
     text-align: center;
     margin-bottom: 27px;
     font-family: 'Ubuntu', sans-serif;
}

form.form1 {
     padding-top: 40px;
}

.pass {
     width: 76%;
     color: rgb(38, 50, 56);
     font-weight: 700;
     font-size: 14px;
     letter-spacing: 1px;
     background: rgba(136, 126, 126, 0.04);
     padding: 10px 20px;
     border: none;
     border-radius: 20px;
     outline: none;
     box-sizing: border-box;
     border: 2px solid rgba(0, 0, 0, 0.02);
     margin-bottom: 50px;
     margin-left: 46px;
     text-align: center;
     margin-bottom: 27px;
     font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
     border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.submit {
     cursor: pointer;
     border-radius: 5em;
     color: #fff;
     background: linear-gradient(to right, #9C27B0, #E040FB);
     border: 0;
     padding-left: 40px;
     padding-right: 40px;
     padding-bottom: 10px;
     padding-top: 10px;
     font-family: 'Ubuntu', sans-serif;
     margin-left: 35%;
     font-size: 13px;
     box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
     text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
     color: #E1BEE7;
     padding-top: 15px;
}

a {
     text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
     color: #E1BEE7;
     text-decoration: none
}

@media (max-width: 600px) {
     .main {
          border-radius: 0px;
    }
}


.links {
      background-color: #123;
      background-image: linear-gradient(to bottom, #0003, transparent);
      border-bottom: 1px solid #0003;
      box-shadow: 0 0 32px #0003;
      font-size: 2em;
      font-weight: 300;
}
.links > a {
      color: #9ab;
      padding: .75em;
      text-align: center;
      text-decoration: none;
      transition: all .5s;
}
.links > a:hover {
      background: #ffffff06;
      color: #adf;
}
.links > .line {
      background: #68a;
      height: 1px;
      pointer-events: none;
}

.navbar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
}
.links {
      display: grid;
      grid-template-columns: repeat(var(--items), 1fr);
      position: relative;
}
.links > .line {
      opacity: 0;
      transition: all .5s;
      position: absolute;
      bottom: 0;
      left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
      width: var(--width, calc(100% / var(--items)));
      --index: 0;
}
.links > a:hover ~ .line {
      opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }
.links > a:nth-of-type(4):hover ~ .line { --index: 4; }
.links > a:nth-of-type(5):hover ~ .line { --index: 5; }
.links > a:nth-of-type(6):hover ~ .line { --index: 6; }
.links > a:nth-of-type(7):hover ~ .line { --index: 7; }
.links > a:nth-of-type(8):hover ~ .line { --index: 8; }
.links > a:nth-of-type(9):hover ~ .line { --index: 9; }
.links > a:nth-of-type(10):hover ~ .line { --index: 10; }
.links > a:last-of-type:hover ~ .line { --index: var(--items); }
